body{
  color: black;
  font-family:cursive;
}
body div:first-child{
  width:70%;
  margin:auto;
}

h1{
  color:purple;
  border-bottom: gray 1px solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width:100%;
}

.content{
  margin-left:40px;
  display:grid;
}

#experiences, #education, #competencies, #hobbies {
  display: grid;
  margin-top: 20px;
}

#competencies h3, #education h3, #hobbies h3, #experiences h3 {
  grid-row: 1/3;
  font-style: italic;
  font-weight: bold;
  color: purple;
}

figure{
  position: absolute;
  top:20px;
  left:65%;
  margin-left: 20px;
  padding-top: 35px;
}

img{
  width:150px;
  height: 130px;
}

#about p {
  font-size: 1.2em;
  width:70%;
}

.experience , .skills-primary, .skills-secondary , ul{
  border-left: gray solid 1px; 
  margin-left: 15px;
}

h2 ,#about h3{
  display:none; 
}

#about p{
  opacity: 60%;
  color: gray;
  margin-bottom: 80px;
}

.skills-primary, .skills-secondary {
  display: flex;
  width:60%;
  margin-left: 15px;
}

.skill {
  color: #fff;
  background-color:  rgb(182, 144, 182);
  margin: 10px; 
  height: 22px;
  padding-top: 5px;
}

.skills-secondary{
font-size: small;
}

.skill[data-skill="5"] , .skill[data-skill='9'],.skill[data-skill="3"],.skill[data-skill="1"] , .skill[data-skill="7"]{
  margin-left: 10px;
  width: 30%;
}

.skill[data-skill='1']::after{
  content: '★';
  float: right;
}

.skill[data-skill='3']::after {
  content: '★★';
  float: right;
}

.skill[data-skill='5']::after {
  content: '★★★';
  float: right;
}

.skills-secondary .skill[data-skill='5'] {
  font-size: xx-small;
}

.skill[data-skill='7']::after{
  content: '★★★★';
  float: right;
  font-size: xx-small;
}

.skill[data-skill='9']::after{
  content: '★★★★★';
  float: right;
  font-size: xx-small;
}

.experience{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  margin: 10px;
}

.experience-description{
  grid-column: 1/3;
}

.experience-details{
    color: rgb(182, 144, 182);
    text-align: end;
}

.skills-secondary{
  font-size: x-small;
}

.experience-institution , #contact h3{
  display: none;
}

.experience-type{
  color: rgb(182, 144, 182);
  margin-left: 20x;
}

ul ,.experience h4{   
  margin-top: 0;
}
#education >.experience{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  color:black
}

.contacts{
  display: grid;
  justify-content: center;
  margin-top: 10px;
  border-top: black 1px solid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.contact-email{
  background-image: url(../images/email.png);
  width: 50px;
  height: 50px;
}

.contact-phone{
  background-image: url(../images/phone.png);
  width: 50px;
  height: 50px;
}

.contact-github{
  background-image: url(../images/github.png);
  width: 50px;
  height: 50px;
}

.contact-facebook{
  background-image: url(../images/facebook.png);
  width: 50px;
  height: 50px;
}

.contact-type{
  display: none;
}

.contact-value{
  display:flex;
  padding-left: 30px;
  width: 100px;
  margin-top: 15px;
}

.contact{
  background-repeat: no-repeat;
  background-size:cover; 
  margin: 10px;
}

.experience-date-separator{
  color: plum;
}

@media screen and (max-width:467px){
  #experiences, #education, #competencies, #hobbies {
    display: block;
  }  
  .skills-primary, .skills-secondary {
    border-left: none;
  }
  .skills-primary , .experience , .education , .hobbies , ul{
    margin-top: 20px;
  }
  h3{
    border-bottom: 1px solid gray;
    color: purple; 
  }
  #competencies h3 {
    width: 100px;   
  }
  #education h3{
    width: 70px;    
  } 
  #hobbies h3{
    width: 70px;  
  }
  #experiences h3 {
    width: 100px;
  }
  .skill{
    font-size: 7px;
    height: 10px;
  }
  .contacts{
    width: 120%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: left;
  }
  figure img{
    display: none;
  }
  dl dt dd a{
    display:none;
  }
  .experience , .skills-primary, .skills-secondary , ul{
    border-left: none;
  }
  h1{
    font-size: small;
  }
  .content{
    margin-left: 15px;
  }
  #about p {
    font-size: 1em;
    width:100%;
  }
  .skill {
    height: 20px;
    font-size: 10px;
  }
  .experience-date , .experience-type{
    font-size: xx-small;
  }
  .skills{
    width: 100%;
  }
}

@media screen and (max-width:767px){
  #experiences, #education, #competencies, #hobbies {
    display: block;
  }  
  .skills-primary, .skills-secondary {
    border-left: none;
  }
  .skills-primary , .experience , .education , .hobbies , ul{
      margin-top: 20px;
  }
  h3{
    border-bottom: 1px solid gray;  
  }
  #competencies h3 {    
    width: 110px;
  } 
  #education h3{    
    width: 80x;
  } 
  #hobbies h3{   
    width: 65px;
  } 
  #experiences h3 { 
    width: 100px;
  }
  .skill{
    font-size: 7px;
    height: 10px;
  }
  .contacts{
    width: 120%;
    flex-wrap: wrap;
    margin: 0;
    justify-content: left;
  }
  figure img{
    display: none;
  }
  .experience , .skills-primary, .skills-secondary , ul{
    border-left: none;
  }
  .content{
    margin-left: 25px;
  }
  #about p {
    font-size: 1em;
    width:100%;
  }
  .skill {
    height: 20px;
    font-size: 15px;
  }
  .skills{
    width: 100%;
  }
}
